{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url 'admin:'|add:opts.app_label|add:'_'|add:opts.model_name|add:'_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {{ title }}
</div>
{% endblock %}
{% endif %}

{% block content %}
<div id="content-main">
  <form method="post">
    {% csrf_token %}
    <div>
      {# These hidden fields are crucial for admin actions with intermediate pages #}
      <input type="hidden" name="action" value="{{ request.POST.action }}"> {# Or the specific action name if known and static #}
      <input type="hidden" name="select_across" value="{{ request.POST.select_across }}">
      {% for obj in queryset %}
      <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">
      {% endfor %}
      {# If no items were selected, and select_across is true, you might not need the loop above, #}
      {# but it's safer to include it. The admin handles cases where queryset might be empty. #}


      {% if form.errors %}
          <p class="errornote">
          {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
          </p>
          {{ form.non_field_errors }}
      {% endif %}

      <fieldset class="module aligned">
        <h2>{{ title }}</h2>
        {% for field in form %}
          <div class="form-row{% if field.errors %} errors{% endif %}">
              {{ field.errors }}
              <div>
                  {{ field.label_tag }}
                  {{ field }}
                  {% if field.help_text %}
                      <div class="help">{{ field.help_text|safe }}</div>
                  {% endif %}
              </div>
          </div>
        {% endfor %}
      </fieldset>

      <div class="submit-row">
        <input type="submit" name="process_payslips" value="{% translate 'Generate Payslips' %}" class="default">
      </div>
    </div>
  </form>
</div>
{% endblock %}
